log
log/*.log
config/database.yml
vendor/gems/*
db/schema.rb
nbproject
nbproject/*
vender/plugins/rails-footnotes
vendor/plugins/rails-footnotes/*
config/initializers/footnote_load.rb
coverage
coverage/*
config/deploy.rb
