<div id="shop_content">
  <h1><%=@shop.name%></h1>
  <div id="left_side">
    <ul>
      <%=render :partial=>'shop_category', :collection=>@shop.shop_categories, :locals=>{:shop=>@shop}%>
    </ul>
  </div>
  <div id="shop_right">
    <%=render :partial=>'product', :collection=>@products%>
  </div>
  <div class="clear"></div>
</div>