<p>
<%=image_tag(product.cover_image_url) if product.cover_image_url%>
<%=product.name%>
<%=fancy_link('edit', edit_shop_admin_product_path(product))%>
<%=link_to 'delete', shop_admin_product_path(product),:method=>:delete,:confirm=>'are you sure?'%>
</p>