<table>
  <%for shop_category in shop.shop_categories do%>
    <tr>
      <td><%=shop_category.name%></td>
      <td><%=fancy_link('edit',edit_shop_admin_shop_category_path(shop_category))%></td>
      <td><%=link_to('delete',shop_admin_shop_category_path(shop_category),:method=>:delete,:confirm=>"Are you sure?")%></td>
    </tr>
  <%end%>
</table>
<%=fancy_link('new',new_shop_admin_shop_category_path)%>