<div id="edit_form" class="edit-form" style="background: green; width: 400px;float: left">

</div>
<div style="float: right">
  <ul>
    <li>Templates
      <ul>
        <%for file in @theme_files do%>
          <li><%=file%></li>
        <%end%>
      </ul>
    </li>

  </ul>
</div>
<div class="clear"></div>