<%if current_user%>
  <%=fancy_link('Post Ad', new_product_path())%>
  <a href="/my_account">My Account</a>
  <a href="/myshop">My Shop</a>
  <a href="/logout">Logout</a>
<%else%>
  <a href="/login">Login</a>
  <a href="/signup">Register</a>
<%end%>
<a href="/themes">Themes store</a>
<a href="/shops">Shops</a>
<a href="/">Home</a>