<h1>Edit shop_category</h1>
<% form_for(@shop_category,:url=>shop_admin_shop_category_path(@shop_category)) do |f| %>
  <%=render :partial=>'shop_category_form',:locals=>{:f=>f}%>
  <p>
    <%= f.submit 'Edit' %>
  </p>
<% end %>
