<h1>New shop_category</h1>
<% form_for(:shop_category,@shop_category,:url=>shop_shop_categories_path(@shop)) do |f| %>
  <%=render :partial=>'shop_category_form',:locals=>{:f=>f}%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
